#Layer_1 {
    width:800px;
    height: 800px;
    border:1px solid #aaa;
}

#Dobong-gu:hover {
    fill:aqua;
}

#Dongdaemun-gu:hover {
    fill:aquamarine;
}

#Dongjak-gu:hover{
    fill:blueviolet;
}

#Eunpyeong-gu:hover{
    fill:brown;
}

#Gangbuk-gu:hover{
    fill:cadetblue;
}

#Gangdong-gu:hover{
    fill:chartreuse;
}

#Gangseo-gu:hover{
    fill:chocolate;
}

#Geumcheon-gu:hover{
    fill:coral;
}

#Guro-gu:hover{
    fill:cornflowerblue;
}

#Gwanak-gu:hover{
    fill:cornsilk;
}

#Gwangjin-gu:hover{
    fill:crimson;
}

#Gangnam-gu:hover{
    fill:darkblue;
}

#Jongno-gu:hover{
    fill:darkcyan;
}

#Jung-gu:hover{
    fill:darkgreen;
}

#Jungnang-gu:hover{
    fill:darkmagenta;
}

#Mapo-gu:hover{
    fill:darksalmon;
}

#Nowon-gu:hover{
    fill:darkseagreen;
}

#Seocho-gu:hover{
    fill:deeppink;
}

#Seodaemun-gu:hover{
    fill:dodgerblue;
}

#Seongbuk-gu:hover{
    fill:gold;
}

#Seongdong-gu:hover{
    fill:green;
}

#Songpa-gu:hover{
    fill:hotpink;
}

#Yangcheon-gu:hover{
    fill:indigo;
}

#Yeongdeungpo-gu_1_:hover{
    fill:khaki;
}

#Yongsan-gu:hover{
    fill:lightskyblue;
}

p {
    font-size: 50px;
    font-weight: bold;
    margin-left: 18%;
}