
@import url('https://fonts.googleapis.com/css?family=Karma');
@import url('https://fonts.googleapis.com/css?family=Karma|Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Karma|Patua+One|Questrial');

#title1 {
    font-family: 'Karma', serif;
    max-width: 1000px;
    margin: auto;
    padding: 5px;
    }

#content1 {
    font-family: 'Karma', serif;
}

#song1 {
    font-family: 'Questrial', sans-serif;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(210, 232, 240);
}

a {
    color:red;
}