
@import url('https://fonts.googleapis.com/css?family=Karma');
@import url('https://fonts.googleapis.com/css?family=Karma|Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Karma|Patua+One|Questrial');

#title1 {
    font-family: 'Karma', serif;
    color:rgb(9, 9, 146);
}

#content1 {
    font-family: 'Karma', serif;
}

#song1 {
    font-family: 'Questrial', sans-serif;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(210, 232, 240);
}

