
circle {
    transition: r 5s;
}
circle:hover {
    r: 100px;
}

#drawArea {
    background: linear-gradient(to right, darkslateblue, black);
    margin:auto;
}

#menuTop {
    margin-left: 350px;
    margin-top:30px;
    margin-bottom: 10px;
}

#drawAreaOuter{ 
    margin: auto;
}


#main {
    margin-left: -30%;
}

